---
openapi: 3.1.0
info:
  version: 1.0.0
  title: Procurement APIs
  x-logo:
    url: https://assets.procurement.opengov.com/brand/pro-logo-padded.png
  description: OpenGov Procurement API
servers:
  - url: https://api.procurement.opengov.com/gateway
    description: Production
security:
  - basicAuth: []
  - apiKeyAuth: []
tags:
  - name: Introduction
    description: >
      The OpenGov Procurement API is organized around REST. The API is
      based on the JSON API specification and uses standard HTTP response codes,
      authentication, and verbs.


      The API base URL is `https://api.procurement.opengov.com/gateway`
  - name: Authentication
    description: >
      ### Authentication


      The OpenGov Procurement API supports two ways to authenticate each request over HTTPS.


      #### 1. HTTP Basic Auth (preferred)


      Use your OpenGov account email as the username and your API key as the password.


      ```bash
      curl -u "alice@example.com:YOUR_API_KEY" \
      https://api.procurement.opengov.com/gateway/datasets/v1/solicitations
      ```

      #### 2. X-api-key header


      You may also authenticate using the `x-api-key` request header:

      ```bash
      curl -H "x-api-key: YOUR_API_KEY" \
      https://api.procurement.opengov.com/gateway/datasets/v1/solicitations
      ```

      > **Security note:** Some third-party systems may log or store custom headers in plaintext.  

      > Because many platforms automatically mask the standard `Authorization` header,  

      > Basic Auth is the recommended method whenever possible.


      To obtain an API key, please follow the steps outlined in this guide [OpenGov Procurement API Reference](https://opengov.my.site.com/support/s/article/87a452ae-254c-4b62-8336-d475c2e30723) or contact OpenGov support.


      The API will return a 401 error if the key is invalid.
  - name: Errors
    description: >+
      OpenGov uses conventional HTTP response codes to indicate the
      success or failure of an API request. 


      In general, codes in the `2xx` range indicate success, codes in the `4xx` range indicate a client-side error, and codes in the `5xx` range indicate a server-side error.


      For any error, the API will return an error code and detail message.

      <SchemaDefinition schemaRef="#/components/schemas/Error" />

  - name: Datasets
    description: >
      **Datasets** are collections of data that can be retrieved using
      the API.


      Datasets can be retrieved by using `GET` requests. The base url for datasets is `https://api.procurement.opengov.com/gateway/datasets/v1/`


      Note: All dates and times returned by this API are in the time zone selected by the agency.
  - name: Contract Orders
    description: >
      **Contract Orders** are attached to Contracts to track spending
      against a Budget.


      The base url for Contract Orders is `https://api.procurement.opengov.com/gateway/contract-orders/v1/`
paths:
  /datasets/v1/contracts:
    get:
      tags:
        - Datasets
      summary: Contracts
      operationId: getContractsDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        `https://api.procurement.opengov.com/gateway/datasets/v1/contracts` 

        Generates a csv of contracts data. 

        Example:
        <table>
          <thead>
            <tr>
              <th>vendor_name</th>
              <th>vendor_email</th>
              <th>vendor_city</th>
              <th>vendor_state</th>
              <th>vendor_country</th>
              <th>vendor_zip_code</th>
              <th>vendor_number</th>
              <th>internal_contract_id</th>
              <th>contract_title</th>
              <th>contract_id</th>
              <th>requisition_id</th>
              <th>term_type</th>
              <th>status</th>
              <th>start_date</th>
              <th>end_date</th>
              <th>initial_term_length</th>
              <th>initial_term_unit</th>
              <th>has_renewal_option</th>
              <th>renewals</th>
              <th>renewals_remaining</th>
              <th>contract_amount</th>
              <th>amount_spent</th>
              <th>department</th>
              <th>project_contact</th>
              <th>procurement_contact</th>
              <th>contract_type</th>
              <th>procurement_classification</th>
              <th>category_codes</th>
              <th>notes</th>
              <th>is_public</th>
              <th>allows_cooperative</th>
              <th>will_rebid</th>
              <th>is_emergency</th>
              <th>assembled_contract_document_count</th>
              <th>contract_document_count</th>
              <th>created_at</th>
              <th>updated_at</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acme Corp</td>
              <td>contact@acme.nil</td>
              <td>New York</td>
              <td>NY</td>
              <td>USA</td>
              <td>10001</td>
              <td>ACME-001</td>
              <td>456</td>
              <td>Office Supplies Contract</td>
              <td>CON-789</td>
              <td>REQ-101</td>
              <td>Continuos</td>
              <td>Active</td>
              <td>2024-01-01</td>
              <td>2024-12-31</td>
              <td>12</td>
              <td>Months</td>
              <td>1</td>
              <td>2</td>
              <td>1</td>
              <td>10000.00</td>
              <td>5000.00</td>
              <td>Finance</td>
              <td>John Doe</td>
              <td>Jane Smith</td>
              <td>General</td>
              <td>Goods</td>
              <td>1234</td>
              <td>Notes about the contract</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>5</td>
              <td>10</td>
              <td>2024-01-01 09:00:00</td>
              <td>2023-01-25 09:00:00</td>
            </tr>
          </tbody>
        </table>
      responses:
        '200':
          description: Successfully retrieved Contracts dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/Contract'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /datasets/v1/contracts-with-spend:
    get:
      tags:
        - Datasets
      summary: Contracts with Spend
      operationId: getContractsWithSpendDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: >
        `https://api.procurement.opengov.com/gateway/datasets/v1/contracts-with-spend` 


        Generates a csv of contracts with spend data. 


        Example:

        <table>
          <thead>
            <tr>
              <th>vendor_name</th>
              <th>vendor_email</th>
              <th>vendor_city</th>
              <th>vendor_state</th>
              <th>vendor_country</th>
              <th>vendor_zip_code</th>
              <th>vendor_number</th>
              <th>internal_contract_id</th>
              <th>contract_title</th>
              <th>contract_id</th>
              <th>requisition_id</th>
              <th>term_type</th>
              <th>status</th>
              <th>start_date</th>
              <th>end_date</th>
              <th>initial_term_length</th>
              <th>initial_term_unit</th>
              <th>has_renewal_option</th>
              <th>renewals</th>
              <th>renewals_remaining</th>
              <th>contract_amount</th>
              <th>amount_spent</th>
              <th>department</th>
              <th>project_contact</th>
              <th>procurement_contact</th>
              <th>contract_type</th>
              <th>procurement_classification</th>
              <th>category_codes</th>
              <th>notes</th>
              <th>is_public</th>
              <th>allows_cooperative</th>
              <th>will_rebid</th>
              <th>is_emergency</th>
              <th>assembled_contract_document_count</th>
              <th>contract_document_count</th>
              <th>internal_po_id</th>
              <th>po_issue_date</th>
              <th>po_fiscal_year</th>
              <th>po_department</th>
              <th>po_created_by</th>
              <th>po_order_status</th>
              <th>po_order_amount</th>
              <th>po_amount_paid</th>
              <th>po_number</th>
              <th>po_description</th>
              <th>po_comments</th>
              <th>po_created_at</th>
              <th>po_updated_at</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acme Corp</td>
              <td>contact@acme.nil</td>
              <td>New York</td>
              <td>NY</td>
              <td>USA</td>
              <td>10001</td>
              <td>ACME-001</td>
              <td>456</td>
              <td>Office Supplies Contract</td>
              <td>CON-789</td>
              <td>REQ-101</td>
              <td>Continuos</td>
              <td>Active</td>
              <td>2024-01-01</td>
              <td>2024-12-31</td>
              <td>12</td>
              <td>Months</td>
              <td>1</td>
              <td>2</td>
              <td>1</td>
              <td>10000.00</td>
              <td>5000.00</td>
              <td>Finance</td>
              <td>John Doe</td>
              <td>Jane Smith</td>
              <td>General</td>
              <td>Goods</td>
              <td>1234</td>
              <td>Notes about the contract</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>5</td>
              <td>10</td>
              <td>12345</td>
              <td>2024-01-15</td>
              <td>FY2024</td>
              <td>Finance</td>
              <td>John Doe</td>
              <td>Approved</td>
              <td>5000.75</td>
              <td>3000.50</td>
              <td>PO-67890</td>
              <td>Purchase of office furniture</td>
              <td>Urgent request due to office expansion.</td>
              <td>2024-01-01 09:00:00</td>
              <td>2024-01-02 09:00:00</td>
            </tr>
          </tbody>
        </table>
      responses:
        '200':
          description: Successfully retrieved Contracts with Spend dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/ContractWithSpend'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /datasets/v1/contract-documents:
    get:
      tags:
        - Datasets
      summary: Contract Documents
      operationId: getContractDocumentsDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: >
        `https://api.procurement.opengov.com/gateway/datasets/v1/contract-documents` 


        Generates a csv of contract document projects. 


        Example:

        <table>
          <thead>
            <tr>
              <th>internal_project_id</th>
              <th>title</th>
              <th>project_id</th>
              <th>template</th>
              <th>template_abbreviation</th>
              <th>requisition_id</th>
              <th>department</th>
              <th>project_contact</th>
              <th>procurement_contact</th>
              <th>status</th>
              <th>status_sort</th>
              <th>workload_points_remaining</th>
              <th>created_by</th>
              <th>created_at</th>
              <th>last_updated_at</th>
              <th>procurement_classification</th>
              <th>category_codes</th>
              <th>is_emergency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12345</td>
              <td>Carroll Bog Boardwalk Construction</td>
              <td>P-2024-001</td>
              <td>Standard Construction Template</td>
              <td>SCT</td>
              <td>REQ-45678</td>
              <td>Facilities Management</td>
              <td>John Doe</td>
              <td>Jane Smith</td>
              <td>Review</td>
              <td>2</td>
              <td>50.5</td>
              <td>admin_user</td>
              <td>2024-03-01 22:20:31</td>
              <td>2024-03-03 23:29:00</td>
              <td>2024-03-07 13:11:31</td>
              <td>2024-03-08 04:20:34</td>
              <td>2024-03-10 04:20:34</td>
              <td>2024-03-11 11:30:16</td>
              <td>Invitation to Bid</td>
              <td>05500, 06006, 06516, 06523</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      responses:
        '200':
          description: Successfully retrieved Contract Documents dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/ContractDocument'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /datasets/v1/solicitations:
    get:
      tags:
        - Datasets
      summary: Solicitations
      operationId: getSolicitationDataset
      security:
        - basicAuth: []
        - apiKeyAuth: []
      parameters:
        - name: utcTime
          description: >
            If true, all dates and times will be returned in UTC.

            If false or not provided, all dates and times will be returned in the time zone selected by the agency.
          in: query
          required: false
          schema:
            type: boolean
      description: |
        `https://api.procurement.opengov.com/gateway/datasets/v1/solicitations` 

        Generates a csv of solicitation projects. 

        Example:
        <table>
          <tr>
            <th>internal_project_id</th>
            <th>title</th>
            <th>project_id</th>
            <th>template</th>
            <th>template_abbreviation</th>
            <th>requisition_id</th>
            <th>department</th>
            <th>project_contact</th>
            <th>procurement_contact</th>
            <th>release_project_date</th>
            <th>pre-proposal_meeting</th>
            <th>question_submission_deadline</th>
            <th>question_response_deadline</th>
            <th>proposal_submission_deadline</th>
            <th>reverse_auction_starting_date</th>
            <th>reverse_auction_ending_date</th>
            <th>contractor_selection_date</th>
            <th>contract_end_date</th>
            <th>status</th>
            <th>status_sort</th>
            <th>workload_points_remaining</th>
            <th>created_by</th>
            <th>created_at</th>
            <th>last_updated_at</th>
            <th>budget_amount</th>
            <th>budget_account</th>
            <th>budget_description</th>
            <th>procurement_classification</th>
            <th>category_codes</th>
            <th>is_emergency</th>
            <th>notified</th>
            <th>viewed</th>
            <th>followers</th>
            <th>downloaders</th>
            <th>applicants</th>
            <th>no_bids</th>
            <th>submissions</th>
          </tr>
          <tr>
            <td>12345</td>
            <td>New Office Building Construction</td>
            <td>RFP-2024-001</td>
            <td>Standard RFP Template</td>
            <td>RFP-T</td>
            <td>REQ-78910</td>
            <td>Public Works</td>
            <td>John Doe</td>
            <td>Jane Smith</td>
            <td>2024-03-01 00:00:00</td>
            <td>2024-03-15 10:00:00</td>
            <td>2024-03-20 00:00:00</td>
            <td>2024-03-25 00:00:00</td>
            <td>2024-04-01 00:00:00</td>
            <td>2024-04-05 14:00:00</td>
            <td>2024-04-05 16:00:00</td>
            <td>2024-04-10 00:00:00</td>
            <td>2025-04-01 00:00:00</td>
            <td>Open</td>
            <td>1</td>
            <td>50</td>
            <td>alice_admin</td>
            <td>2024-02-15 08:30:00</td>
            <td>2024-02-20 12:00:00</td>
            <td>2024-02-16 09:00:00</td>
            <td>2024-02-18 10:00:00</td>
            <td>2024-02-19 11:00:00</td>
            <td>2024-02-20 12:30:00</td>
            <td>2024-02-21 14:00:00</td>
            <td>2024-02-22 09:00:00</td>
            <td>2024-02-25 10:00:00</td>
            <td>2024-02-26 15:00:00</td>
            <td>2024-03-01 08:00:00</td>
            <td>2024-03-05 12:00:00</td>
            <td>2024-03-08 14:30:00</td>
            <td>2024-04-15 17:00:00</td>
            <td>500000.00</td>
            <td>ACC-123456</td>
            <td>Office construction fund</td>
            <td>Construction</td>
            <td>05500, 06006, 06516, 06523</td>
            <td>false</td>
            <td>152</td>
            <td>223</td>
            <td>34</td>
            <td>30</td>
            <td>10</td>
            <td>2</td>
            <td>8</td>
          </tr>
        </table>
      responses:
        '200':
          description: Successfully retrieved Solicitations dataset.
          content:
            text/csv:
              schema:
                type: string
                format: binary
                items:
                  $ref: '#/components/schemas/Solicitation'
        '401':
          description: Unauthorized, invalid or missing API token.
        '404':
          description: Government not found or resource does not exist.
        '500':
          description: Internal server error.
  /contract-orders/v1:
    post:
      description: |
        `https://api.procurement.opengov.com/gateway/contract-orders/v1/`
      tags:
        - Contract Orders
      summary: Import Contract Orders
      operationId: importContractOrders
      security:
        - basicAuth: []
        - apiKeyAuth: []
      requestBody:
        description: A JSON array of Contract Orders to be imported.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContractOrder'
      responses:
        '200':
          description: Successfully updated one or more Contract Orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders created.
                  updatedCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders updated.
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '201':
          description: Successfully created one or more Contract Orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders created.
                  updatedCount:
                    type: integer
                    example: 1
                    description: Number of Contract Orders updated.
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '400':
          description: Bad request, invalid or empty body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No valid contract orders to import
                  erroredContractOrders:
                    type: array
                    description: List of Contract Orders that encountered errors.
                    items:
                      $ref: '#/components/schemas/ErroredContractOrder'
        '401':
          description: Unauthorized, invalid or missing token.
        '403':
          description: Forbidden, user does not have permission to import contract orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Only contract admins can import contract orders
        '404':
          description: Not Found, feature is not available in this environment.
        '500':
          description: Internal server error.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    Contract:
      x-tags:
        - Datasets
      type: object
      properties:
        vendor_name:
          type: string
          description: >
            If vendor subscriber is chosen as the Associated Vendor during
            contract record creation, this will be the company name from the
            vendor's company profile.


            If no vendor subscriber is chosen, this is the Vendor Name as entered into the new contract form.
          example: Acme Corp
        vendor_email:
          type: string
          description: >
            If vendor subscriber is chosen as the Associated Vendor during
            contract creation, this is copied from that vendor subscriber's user
            profile.


            If no vendor subscriber is chosen, this is the Vendor Email as entered into the new contract form.
          example: contact@acme.nil
        vendor_city:
          type: string
          description: Vendor company city; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: New York
        vendor_state:
          type: string
          description: Vendor company state; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: NY
        vendor_country:
          type: string
          description: Vendor company country; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: USA
        vendor_zip_code:
          type: string
          description: Vendor company zip code; only available when vendor subscriber is
            chosen as the Associated Vendor during contract creation.
          example: 10001
        vendor_number:
          type: string
          description: The optional Vendor Assigned Number that identifies the Vendor in
            your ERP.
          example: ACME-001
        internal_contract_id:
          type: integer
          description: The internal OpenGov contract ID.
          example: 456
        contract_title:
          type: string
          description: The title of the contract.
          example: Office Supplies Contract
        contract_id:
          type: string
          description: The public-facing contract ID or code.
          example: CON-789
        requisition_id:
          type: string
          description: The requisition ID.
          example: REQ-101
        term_type:
          type: string
          description: 'One of: Limited Term, Continuous, or Upon Completion.'
          example: Continuous
        status:
          type: string
          description: 'One of: upcoming, active, ended.'
          example: active
        start_date:
          type: string
          format: date
          description: The start date of the contract. Date in UTC.
          example: 2024-01-01
        end_date:
          type: string
          format: date
          description: The end date of the contract. Date in UTC.
          example: 2024-12-31
        initial_term_length:
          type: integer
          description: The initial term length of the contract.
          example: 12
        initial_term_unit:
          type: string
          description: 'The unit of the initial term length. One of: years, months, weeks,
            days'
          example: Months
        has_renewal_option:
          type: boolean
          description: If any renewal options have not been activated, value is 1.
            Otherwise 0.
          example: 1
        renewals:
          type: integer
          description: Count of all renewal options (both activated and not activated).
          example: 2
        renewals_remaining:
          type: integer
          description: Count of renewal options that have not been activated.
          example: 1
        contract_amount:
          type: number
          format: double
          description: The total amount of the contract.
          example: 10000
        amount_spent:
          type: number
          format: double
          description: Contract Spend - total of Amount Issued for all orders.
          example: 5000
        department:
          type: string
          description: The department primarily responsible for the contract.
          example: Finance
        project_contact:
          type: string
          description: First Name + Last Name of the Project Contact.
          example: John Doe
        procurement_contact:
          type: string
          description: First Name + Last Name of the Procurement Contact.
          example: Jane Smith
        contract_type:
          type: string
          description: Comma-separated list of Contract Type tags. Each tag name may be up
            to 256 characters.
          example: General
        procurement_classification:
          type: string
          description: Comma-separated list of Procurement Classification tags. Each tag
            name may be up to 256 characters.
          example: Goods
        category_codes:
          type: string
          description: Comma-separated list of Category codes. Each code may be up to 8
            characters.
          example: 1234
        notes:
          type: string
          description: Internal notes about the contract. Contains HTML formatting.
          example: Notes about the contract
        is_public:
          type: boolean
          description: Whether or not the contract is included in the public portal.
          example: 1
        allows_cooperative:
          type: boolean
          description: Whether or not the contract contains cooperative or “piggyback”
            language.
          example: 1
        acquired_via_cooperative:
          type: boolean
          description: Whether or not the contract was acquired via cooperative purchasing.
        will_rebid:
          type: boolean
          description: Contract will be renewed through a competitive process when it ends.
          example: 0
        is_emergency:
          type: boolean
          description: This is a contract for emergency goods or services.
          example: 0
        assembled_contract_document_count:
          type: integer
          description: Count of assembled contract documents (linked contract document
            projects).
          example: 5
        contract_document_count:
          type: integer
          description: Count of contract document attachments (both public and non-public).
          example: 10
        created_at:
          type: string
          format: date
          description: The creation date of the contract. Date in UTC.
          example: 2024-01-01
        updated_at:
          type: string
          format: date
          description: The last update date of the contract. Date in UTC.
          example: 2024-01-25
    ContractWithSpend:
      x-tags:
        - Datasets
      type: object
      allOf:
        - $ref: '#/components/schemas/Contract'
        - type: object
          properties:
            internal_po_id:
              type: integer
              description: Internal OpenGov unique identifier for the purchase order.
              example: 12345
            po_issue_date:
              type: string
              format: date
              description: The date that the purchase order was issued. Date in UTC
              example: 2024-01-15
            po_fiscal_year:
              type: string
              description: The fiscal year for the purchase (from Fiscal Year tags).
              example: FY2024
            po_department:
              type: string
              description: The department responsible for the purchase order.
              example: Finance
            po_created_by:
              type: string
              description: The First Name + Last Name of the person who created the purchase
                order.
              example: John Doe
            po_order_status:
              type: string
              description: 'One of: Requested, Approved, Denied, Issued.'
              example: Issued
            po_order_amount:
              type: number
              format: double
              description: The total amount of the purchase order.
              example: 5000.75
            po_amount_paid:
              type: number
              format: double
              description: The amount paid to date for the purchase order.
              example: 3000.5
            po_number:
              type: string
              description: The unique number assigned to the purchase order in the ERP.
              example: PO-67890
            po_description:
              type: string
              description: A description of the purchased goods or services.
              example: Purchase of office furniture
            po_comments:
              type: string
              description: Additional comments or notes related to the purchase order.
              example: Urgent request due to office expansion.
            po_created_at:
              type: string
              format: date
              description: The timestamp when the purchase order was created within or
                imported into OpenGov. Date in UTC.
              example: 2024-01-01
            po_updated_at:
              type: string
              format: date
              description: The timestamp when the purchase order was last updated within
                OpenGov. Date in UTC.
              example: 2024-01-02
    ContractDocument:
      x-tags:
        - Datasets
      type: object
      properties:
        internal_project_id:
          type: integer
          description: The internal OpenGov contract document ID.
          example: 12345
        title:
          type: string
          description: The title of the document.
          example: Carroll Bog Boardwalk Construction
        project_id:
          type: string
          description: External identifier for the project.
          example: P-2024-001
        template:
          type: string
          description: Name of the document template used for the contract document.
          example: Standard Construction Template
        template_abbreviation:
          type: string
          description: Abbreviated version of the document template name.
          example: SCT
        requisition_id:
          type: string
          description: Identifier for the requisition linked to the contract  project.
          example: REQ-45678
        department:
          type: string
          description: Department responsible for the project.
          example: Facilities Management
        project_contact:
          type: string
          description: First Name + Last Name of the Project Contact.
          example: John Doe
        procurement_contact:
          type: string
          description: First Name + Last Name of the Procurement Contact.
          example: Jane Smith
        status:
          type: string
          description: 'One of: Draft, Review, Final, Closed.'
          example: Review
        status_sort:
          type: integer
          description: Numeric representation for sorting based on status.
          example: 2
        workload_points_remaining:
          type: number
          description: Number of workload points left to complete the contract document.
          example: 50.5
        created_by:
          type: string
          description: User who created the project.
          example: admin_user
        created_at:
          type: string
          format: date-time
          description: Timestamp for when the project was created. Timestamp in UTC.
          example: 2024-03-01 22:20:31
        last_updated_at:
          type: string
          format: date-time
          description: Timestamp for the last update made to the project. Timestamp in UTC.
          example: 2024-03-03 23:29:00
        procurement_classification:
          type: string
          description: Comma-separated list of Procurement Classification tags. Each tag
            name may be up to 256 characters.
          example: Invitation to Bid
        category_codes:
          type: string
          description: Comma-separated list of Category codes. Each code may be up to 8
            characters.
          example: 05500, 06006, 06516, 06523
        is_emergency:
          type: boolean
          description: This is a contract document for emergency goods or services.
          example: 0
    Solicitation:
      x-tags:
        - Datasets
      type: object
      properties:
        internal_project_id:
          type: string
          description: The internal OpenGov solicitation ID.
          example: '12345'
        title:
          type: string
          description: The title of the solicitation.
          example: New Office Building Construction
        project_id:
          type: string
          description: The public project identifier.
          example: RFP-2024-001
        template:
          type: string
          description: Name of the document template used for the solicitation.
          example: Standard RFP Template
        template_abbreviation:
          type: string
          description: Abbreviated version of the document template name.
          example: RFP-T
        requisition_id:
          type: string
          description: Identifier for the associated requisition.
          example: REQ-78910
        department:
          type: string
          description: Department responsible for the solicitation.
          example: Public Works
        project_contact:
          type: string
          description: First Name + Last Name of the Project Contact.
          example: John Doe
        procurement_contact:
          type: string
          description: First Name + Last Name of the Procurement Contact.
          example: Jane Smith
        release_project_date:
          type: string
          format: date-time
          description: 'Timeline: Date the project is released to the public. Timestamp in
            UTC.'
          example: 2024-03-01 00:00:00
        pre-proposal_meeting:
          type: string
          format: date-time
          description: 'Timeline: Date and time of the pre-proposal meeting. Timestamp in
            UTC.'
          example: 2024-03-15 10:00:00
        question_submission_deadline:
          type: string
          format: date-time
          description: 'Timeline: Deadline for submitting questions. Timestamp in UTC.'
          example: 2024-03-20 00:00:00
        question_response_deadline:
          type: string
          format: date-time
          description: 'Timeline: Deadline for responses to questions. Timestamp in UTC.'
          example: 2024-03-25 00:00:00
        proposal_submission_deadline:
          type: string
          format: date-time
          description: 'Timeline: Deadline for submitting proposals. Timestamp in UTC.'
          example: 2024-04-01 00:00:00
        reverse_auction_starting_date:
          type: string
          format: date-time
          description: 'Timeline: Start date and time for the reverse auction. Timestamp
            in UTC.'
          example: 2024-04-05 14:00:00
        reverse_auction_ending_date:
          type: string
          format: date-time
          description: 'Timeline: End date and time for the reverse auction. Timestamp in
            UTC.'
          example: 2024-04-05 16:00:00
        contractor_selection_date:
          type: string
          format: date
          description: 'Timeline: Date the contractor is selected. Timestamp in UTC.'
          example: 2024-04-10 00:00:00
        contract_end_date:
          type: string
          format: date
          description: Expected end date of the contract. Timestamp in UTC.
          example: 2025-04-01 00:00:00
        status:
          type: string
          description: 'One of: Draft, Review, Post Pending, Open, Auction Pending,
            Reverse Auction, Pending, Evaluation, Award Pending, Closed.'
          example: Open
        status_sort:
          type: integer
          description: Numeric value used for sorting by status.
          example: 1
        workload_points_remaining:
          type: integer
          description: Number of workload points still remaining to complete the
            solicitation.
          example: 50
        created_by:
          type: string
          description: User who created the solicitation.
          example: alice_admin
        created_at:
          type: string
          format: date-time
          description: Date and time when the solicitation was created. Timestamp in UTC.
          example: 2024-02-15 08:30:00
        last_updated_at:
          type: string
          format: date-time
          description: Date and time of the last update to the solicitation. Timestamp in
            UTC.
          example: 2024-02-20 12:00:00
        budget_amount:
          type: number
          format: float
          description: Total budget amount for the solicitation.
          example: 500000
        budget_account:
          type: string
          description: Account number associated with the budget.
          example: ACC-123456
        budget_description:
          type: string
          description: Description of the budget allocation.
          example: Office construction fund
        procurement_classification:
          type: string
          description: Comma-separated list of Procurement Classification tags. Each tag
            name may be up to 256 characters.
          example: Construction
        category_codes:
          type: string
          description: Comma-separated list of Category codes. Each code may be up to 8
            characters.
          example: 05500, 06006, 06516, 06523
        is_emergency:
          type: boolean
          description: This is a contract document for emergency goods or services.
          example: false
        notified:
          type: integer
          description: 'Supplier Analytics: Number of supplier contacts notified.'
          example: 152
        viewed:
          type: integer
          description: 'Supplier Analytics: Number of times the public post page has been
            visited.'
          example: 223
        followers:
          type: integer
          description: 'Supplier Analytics: Number of supplier contacts following the
            solicitation.'
          example: 34
        downloaders:
          type: integer
          description: 'Supplier Analytics: Number of supplier contacts who have
            downloaded the solicitation document.'
          example: 30
        applicants:
          type: integer
          description: 'Supplier Analytics: Number of supplier contacts who have begun a
            response to the solicitation.'
          example: 10
        no_bids:
          type: integer
          description: 'Supplier Analytics: Number of supplier contacts who have checked
            the No Bid box for the solicitation.'
          example: 2
        submissions:
          type: integer
          description: 'Supplier Analytics: Number of suppliers who have submitted a
            response.'
          example: 8
    ContractOrder:
      x-tags:
        - Contract Orders
      type: object
      required:
        - amount
        - department
        - fiscalYear
        - issueDate
        - number
        - paidAmount
      anyOf:
        - required:
            - contractId
        - required:
            - vendorAssignedNo
      properties:
        amount:
          type: number
          description: The contract order amount.
          example: 1000.5
        contractId:
          type: string
          description: Case sensitive. The ID of the associated contract. Required if
            `vendorAssignedNo` is not provided. If there are no contract matches
            or greater than 1 match, the `vendorAssignedNo` will be required.
          maxLength: 255
          example: CONTRACT-12345
        department:
          type: string
          description: Case insensitive. The name of the department making the purchase.
          maxLength: 128
          example: finance
        description:
          type: string
          description: An optional description of the contract order.
          maxLength: 500
          example: Purchase of office supplies.
        fiscalYear:
          type: string
          description: Case insensitive. The fiscal year associated with the contract order.
          maxLength: 256
          example: fy2024-2025
        issueDate:
          type: string
          format: date
          description: The date the contract order was approved and issued. Most common
            date formats are accepted. Ex. `YYYY-MM-DD` or `MM/DD/YYYY`.
          example: 2023-10-01
        notes:
          type: string
          description: Optional notes for the contract order.
          maxLength: 500
          example: Urgent request.
        number:
          type: string
          description: Case sensitive. The contract order number.
          maxLength: 64
          example: PO-987654
        paidAmount:
          type: number
          description: The amount that has been paid so far.
          example: 500
        vendorAssignedNo:
          type: string
          description: Case sensitive. The vendor assigned number for this contract order.
            Required if `contractId` is not provided. If there are no contract
            matches or greater than 1 match, the `contractId` will be required.
          maxLength: 128
          example: VENDOR-98765
    ErroredContractOrder:
      allOf:
        - $ref: '#/components/schemas/ContractOrder'
        - type: object
          properties:
            errors:
              type: array
              description: List of validation or processing errors for this Contract Order.
              items:
                type: string
                example: 'contractId not found: CONTRACT-12345'
